{
	"extends": "liferay",
	"env": {
		"node": true,
		"es6": true,
		"jest": true
	},
	"rules": {
		"comma-dangle": "off",
		"max-len": "off",
		"no-invalid-this": "off",
		"object-curly-spacing": "off",
		"require-jsdoc": "off"
	}
}
