{namespace Invalid.Namespace}

/**
 */
{template .content}
	{call .hello data="all" /}
{/template}

/**
 * @param firstName
 * @param? lastName
 */
{template .hello}
	Hello {$firstName}{if $lastName} {$lastName}{/if}!
{/template}
