{namespace Messages}

/**
 */
{template .render}
	{@param? bar: string}
	{@param? foo: html}

	{msg desc=""}you-are-about-to-report-a-violation-of-our-{$foo}.-all-reports-are-strictly-{$bar}{/msg}
{/template}
