{namespace Templates.SkipUpdates}

/**
 */
{template .render}
	{call SkipUpdates.hello data="all" /}
{/template}

/**
 * @param foo
 * @param? bar
 * @param foobar
 * @skipUpdates foo bar
 */
{template .hello}
	{$foo}{$bar}{$foobar}
{/template}
